
<div class="login" id="login">
  <h1>Log in</h1>
  <p class="error"><%= @error %></p>
  <%= form_tag sessions_path do %>
    <%= text_field_tag :username, params[:username], placeholder: "Username" %> <br>
    <%= password_field_tag :password, params[:password], placeholder: "Password" %> <br>
    <%= submit_tag "Login" %>
  <% end %>
  <%= link_to('Create an Account', '/users/new') %>
  <!-- <button id="new_account">Create an Account</button> -->
</div>

