<div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 login-content">
  <div id="headline text-center">
    <div class="headline sapphire text-center">Asteria</div>
    <div class="subheadline x-large white text-center">The Brave</div>
  </div>
  <p class="error text-center medium sapphire"><%= @error %></p>
  <div class="login login-box text-center">
      <%= form_tag sessions_path do %>
      <div class="form-group">
        <%= text_field_tag :username, params[:username], placeholder: "Username", value: @user.username %> <br>
      </div>
      <div class="form-group">
        <%= password_field_tag :password, params[:password], placeholder: "Password", value: '', class: "form-group" %><br>
      </div>
      <div class="form-group">
        <%= submit_tag "Login", :class => "btn btn-primary" %>
      </div>
      <% end %>
        <%= link_to('Create an Account', '/users/new') %>
    <!-- <button id="new_account">Create an Account</button> -->
  </div>
</div>
