
<div class="login" id="login">
  <h1>Login to play Asteria</h1>
  <p class="error"><%= @error %></p>

  <%= form_tag sessions_path do %>
    <%= text_field_tag :username, params[:username], placeholder: "Username", value: @user.username %> <br>
    <%= password_field_tag :password, params[:password], placeholder: "Password", value: '' %> <br>
    <%= submit_tag "Login" %>
  <% end %>
  <%= link_to('Create an Account', '/users/new') %>
  <!-- <button id="new_account">Create an Account</button> -->
</div>
<script type="text/javascript">
$(function() {
    var BV = new $.BigVideo();
    BV.init();
    BV.show("<%= request.protocol + request.host_with_port + asset_path('space-b-roll.mp4')%>");
});
</script>