<h1>Log in</h1>
<%= form_tag sessions_path do %>
  <%= text_field_tag :username, params[:username], placeholder: "Username" %>
  <%= password_field_tag :password, params[:password], placeholder: "Password" %>
  <%= submit_tag "Log in" %>
<% end %>

<h1>Or create a new account</h1>
<%= form_for @user do |f| %>
  <%= f.text_field :username, placeholder: "Username" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.password_field :password_confirmation, placeholder: "Enter password again" %>
  <%= f.text_field :email, placeholder: "Email" %>
  <%= f.submit "Create account" %>
<% end %>
