<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="amythist navbar-brand headline medium">Asteria</div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a id="start-game-link" href="#">Start A New Game</a></li>
        <li><a id="start-2player-link" href="#">Play A Friend</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log out", logout_path %></li>
        <li id="game-fullscreen">Go Fullscreen!</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
<div id='gameDiv'></div>
<div id='leaderboard'>
  <h1>Top scores</h1>
  <ol id='top-ten'>
  <% @top_ten_scores.each do |username, score| %>
    <li><%= username %>: <%= score %></li>
  <% end %>
  </ol>
</div>
<h1>My stats</h1>
<div id="stats">
<h2 id="high-score">High score: <%= @high_score %></h2>
  <ul>
    <% count = @game_reports.count %>
      <% @game_reports.reverse.each do |game_report| %>
        <li>
          <h2>Game <%= count %></h2>
            <% game_report.level_reports.each_with_index do |level_report, index| %>
              <ul>
                <li>Points: <%= level_report.points %></li>
              </ul>
            <% end %>
          <% count -= 1 %>
        <% end %>
      </li>
    </ul>
  <% if  @game_reports.count == 0 %>
    <h2>Start a game!</h2>
  <% end %>
</div>
