<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="amythist navbar-brand headline medium">Asteria</div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#" id="start-game-link">Start A New Game</a></li>
        <li><a href="#" id="start-two-player-link">Play A Friend</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log out", logout_path %></li>
        <li id="game-fullscreen">Go Fullscreen!</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="gaming-container" class="container">
  <div id='gameDiv'></div>
  <div class="row">
    <div id='leaderboard' class="col-md-6">
      <div class="subheadline medium">Top scores</div>
      <ol id='top-ten'>
      <% @top_ten_scores.each do |username, score| %>
        <li><%= username %>: <%= score %></li>
      <% end %>
      </ol>
    </div>
    <div id="stats" class="col-md-6">
      <div class="subheadline medium">My stats</div>
      <div id="high-score" class="subheadline medium">High score: <%= @high_score %></div>
      <ul>
        <% count = @game_reports.count %>
          <% @game_reports.reverse.each do |game_report| %>
            <li>
              <div class="subheadline small">Game <%= count %></div>
                <% game_report.level_reports.each_with_index do |level_report, index| %>
                  <ul>
                    <li>Points: <%= level_report.points %></li>
                  </ul>
                <% end %>
              <% count -= 1 %>
            <% end %>
          </li>
        </ul>
      <% if  @game_reports.count == 0 %>
        <div id="start-game-link"><a href="#">Start A New Game</a></div>
      <% end %>
    </div>
  </div>
</div>
