<%= link_to "Log out", logout_path %>
<button id="start-game-link">Start a new game!!!</button>
<button id="game-fullscreen">Go Fullscreen!</button>
<div id='gameDiv'></div>
<h1>My stats</h1>

<h2>High score: <%= @high_score %></h2>

<ul>
<% @game_reports.each_with_index do |game_report, gindex| %>
  <li>
    <h2>Game <%= gindex %></h2>
    <% game_report.level_reports.each_with_index do |level_report, index| %>
      <li><h3>Level <%= index %></h3></li>
      <ul>
        <li>Points: <%= level_report.points %></li>
        <li>Completion time: <%= level_report.completion_time %></li>
        <li>Enemies killed: <%= level_report.enemies_killed %></li>
        <li>Orbs collected: <%= level_report.orbs_collected %></li>
        <li>Relics collected: <%= level_report.relics_collected %></li>
      </ul>
    <% end %>
  </li>
<% end %>
</ul>
