<!DOCTYPE html>
<html>
<head>
  <title>Asteria</title>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One|Varela+Round|Playball' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    html {
      background: url(<%= asset_path "space.jpg" %>) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  </style>
</head>
<body id="login">
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>

